# Custom Generators

This section introduces "custom generators", which allow to combine individual generators into a single new entity.

[TOC]

##Â Introduction

[Primitive generators](../../primitive_generators/) are nice, but on their own they are barely more useful than existing random number generators such as Python's built-in [random](https://docs.python.org/3/library/random.html) module, `numpy`'s [random](https://docs.scipy.org/doc/numpy/reference/random/index.html) module or the [faker](https://faker.readthedocs.io/en/master/) package. (Perhaps the most useful aspect about primitive generators on their own is that they present a consistent interface for generating random items of different types, but this alone rarely justifies the existence of a package like `tohu`.)

The real power of `tohu` lies in how it allows to easily combine other generators into "compound" generators. In `tohu` these are called `CustomGenerators` (TODO: should this name be changed to `CompoundGenerator`?).

## Example: Generating "Person" Records

Imagine you want to create synthetic data that represents information about a person. For each person you may want to create a name, an age, and a job decription. As we learned [before](../../primitive_generators/) in the section about primitive generators, we can generate these kinds of data separately, but how do we combine them into proper "Person" records? The answer is, we use a `CustomGenerator`.

Let's look at an example. As before, we present the full example first and then analyse it in more detail.

In [1]:
from tohu import FakerGenerator, Integer, CustomGenerator

class PersonGenerator(CustomGenerator):
    name = FakerGenerator(method="name")
    age = Integer(0, 99)
    job = FakerGenerator(method="job")

g = PersonGenerator()

items = g.generate(num=5, seed=12345)

In [2]:
items

In [3]:
list(items)

[Person(name='Jonathan Hernandez', age=55, job='Web designer'),
 Person(name='Cheryl Stevens', age=24, job='Prison officer'),
 Person(name='Manuel Mclean', age=17, job='Fine artist'),
 Person(name='Paul Malone', age=70, job='Horticulturist, commercial'),
 Person(name='Jason Dickson', age=18, job='Journalist, broadcasting')]

While in many respects an `ItemList` behaves like a regular list, it is more powerful. For example, it supports exporting its items to a pandas dataframe.

In [5]:
items.to_df()

                 name  age                         job
0  Jonathan Hernandez   55                Web designer
1      Cheryl Stevens   24              Prison officer
2       Manuel Mclean   17                 Fine artist
3         Paul Malone   70  Horticulturist, commercial
4       Jason Dickson   18    Journalist, broadcasting