# Looping with `@foreach`

[TOC]

## Single loop variable

In [1]:
from tohu import FakerGenerator, Integer, CustomGenerator, foreach

In [2]:
@foreach(date=["2000-01-01", "2000-01-02", "2000-01-03"])
class MatchRecordGenerator(CustomGenerator):
    match_date = date
    player = FakerGenerator(method="name")
    points_scored = Integer(0, 100)

In [3]:
g = MatchRecordGenerator()
g

<@foreach-wrapped <MatchRecordGenerator (id=308c98)> >

In [4]:
list(g.generate_as_stream(nums=[2, 4, 3], seed=11111))

[MatchRecord(match_date='2000-01-01', player='Jack Terry II', points_scored=72),
 MatchRecord(match_date='2000-01-01', player='Calvin Lopez', points_scored=65),
 MatchRecord(match_date='2000-01-02', player='Julia Romero', points_scored=37),
 MatchRecord(match_date='2000-01-02', player='Theodore Logan', points_scored=4),
 MatchRecord(match_date='2000-01-02', player='Amanda Roberson', points_scored=92),
 MatchRecord(match_date='2000-01-02', player='Stephanie Carson', points_scored=70),
 MatchRecord(match_date='2000-01-03', player='Andrew Castillo', points_scored=48),
 MatchRecord(match_date='2000-01-03', player='Justin Mckenzie', points_scored=62),
 MatchRecord(match_date='2000-01-03', player='Jacob Miller', points_scored=57)]

Since we specified three dates in the `@foreach` call above, we also must provide three values in the list `nums` (so that the `generate_as_stream()` method knows how many elements to produce for each generation.

It is allowed for the list to be longer (in which case subsequent elements are ignored) or shorter (in which case fewer loop iterations are run), as shown below.

In [5]:
# Here `num` has fewer elements than there are dates we're looping over,
# so the loop iteration for the third date doesn't happen.
list(g.generate_as_stream(nums=[2, 3], seed=11111))

[MatchRecord(match_date='2000-01-01', player='Jack Terry II', points_scored=72),
 MatchRecord(match_date='2000-01-01', player='Calvin Lopez', points_scored=65),
 MatchRecord(match_date='2000-01-02', player='Julia Romero', points_scored=37),
 MatchRecord(match_date='2000-01-02', player='Theodore Logan', points_scored=4),
 MatchRecord(match_date='2000-01-02', player='Amanda Roberson', points_scored=92)]

In [6]:
# Here `num` has more elements than there are dates we're looping over,
# so the additional elements are ignored for looping.
list(g.generate_as_stream(nums=[2, 4, 3, 5, 1, 2], seed=11111))

[MatchRecord(match_date='2000-01-01', player='Jack Terry II', points_scored=72),
 MatchRecord(match_date='2000-01-01', player='Calvin Lopez', points_scored=65),
 MatchRecord(match_date='2000-01-02', player='Julia Romero', points_scored=37),
 MatchRecord(match_date='2000-01-02', player='Theodore Logan', points_scored=4),
 MatchRecord(match_date='2000-01-02', player='Amanda Roberson', points_scored=92),
 MatchRecord(match_date='2000-01-02', player='Stephanie Carson', points_scored=70),
 MatchRecord(match_date='2000-01-03', player='Andrew Castillo', points_scored=48),
 MatchRecord(match_date='2000-01-03', player='Justin Mckenzie', points_scored=62),
 MatchRecord(match_date='2000-01-03', player='Jacob Miller', points_scored=57)]

## Multiple loop variables (at the same level)

In [7]:
@foreach(date=["2000-01-01", "2000-01-02", "2000-01-03"], venue=["Town A", "Town B", "Town C"])
class MatchRecordGenerator(CustomGenerator):
    match_date = date
    match_venue = venue
    player = FakerGenerator(method="name")
    points_scored = Integer(0, 100)

In [8]:
g = MatchRecordGenerator()

Note that in the generated items, the match date and venue are always matched up:

In [9]:
g.generate_as_list(nums=[2, 4, 3], seed=11111)

[MatchRecord(match_date='2000-01-01', match_venue='Town A', player='Donna Le', points_scored=36),
 MatchRecord(match_date='2000-01-01', match_venue='Town A', player='Katelyn Stevens', points_scored=78),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Cynthia Fisher', points_scored=13),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Katie George', points_scored=16),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Douglas Sawyer', points_scored=93),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Michael Levy', points_scored=6),
 MatchRecord(match_date='2000-01-03', match_venue='Town C', player='Julie Farley', points_scored=3),
 MatchRecord(match_date='2000-01-03', match_venue='Town C', player='Krystal Anderson', points_scored=36),
 MatchRecord(match_date='2000-01-03', match_venue='Town C', player='James Ray', points_scored=66)]

If one of the loop variables contains more elements than the other, the additional ones are ignored. In other words, we can only do as many loop iterations as specified by the loop variable with the fewest values. Here we can only produce elements for two dates (even there are four venues).

In [13]:
@foreach(date=["2000-01-01", "2000-01-02"], venue=["Town A", "Town B", "Town C", "Town D"])
class MatchRecordGenerator(CustomGenerator):
    match_date = date
    match_venue = venue
    player = FakerGenerator(method="name")
    points_scored = Integer(0, 100)

In [14]:
g = MatchRecordGenerator()
g.generate_as_list(nums=[2, 4, 3, 2], seed=11111)

[MatchRecord(match_date='2000-01-01', match_venue='Town A', player='Donna Le', points_scored=36),
 MatchRecord(match_date='2000-01-01', match_venue='Town A', player='Katelyn Stevens', points_scored=78),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Cynthia Fisher', points_scored=13),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Katie George', points_scored=16),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Douglas Sawyer', points_scored=93),
 MatchRecord(match_date='2000-01-02', match_venue='Town B', player='Michael Levy', points_scored=6)]