## Looped custom generator

In [1]:
from tohu import Integer, HashDigest, CustomGeneratorNEW3
from tohu.foreach_NEW_3 import foreach_NEW3
from tohu.utils import print_generated_sequence

In [2]:
@foreach_NEW3(xx=["AAA", "BBB"])
@foreach_NEW3(yy=[111, 222, 333])
class QuuxGenerator(CustomGeneratorNEW3):
    aa = xx
    bb = yy
    cc = Integer(100, 200)
    dd = HashDigest(length=6)

Internally, the `QuuxGenerator` class has been augmented by the `@foreach_NEW` decorators with information about the loop level (here: 2, since we have two nested decorators) and the loop variables present.

In [3]:
QuuxGenerator

<LoopedCustomGeneratorClass: loop_vars=[<LoopVariable: name='yy', loop_level=1, values=[111, 222, 333], cur_value=111 (tohu_id=490b58)>, <LoopVariable: name='xx', loop_level=2, values=['AAA', 'BBB'], cur_value='AAA' (tohu_id=4a2cdd)>], cur_level=2>

In [4]:
QuuxGenerator.cur_level

2

Loop variables:

In [5]:
QuuxGenerator.loop_runner.loop_variables

[<LoopVariable: name='yy', loop_level=1, values=[111, 222, 333], cur_value=111 (tohu_id=490b58)>,
 <LoopVariable: name='xx', loop_level=2, values=['AAA', 'BBB'], cur_value='AAA' (tohu_id=4a2cdd)>]

In [6]:
g = QuuxGenerator()

In [7]:
g.loop_runner.loop_variables_by_name

{'yy': <LoopVariable: name='yy', loop_level=1, values=[111, 222, 333], cur_value=111 (tohu_id=838938)>,
 'xx': <LoopVariable: name='xx', loop_level=2, values=['AAA', 'BBB'], cur_value='AAA' (tohu_id=3470c7)>}

In [8]:
g.loop_runner.loop_variables_by_name["xx"].rewind_loop_variable()
print_generated_sequence(g.custom_gen_instance, num=5, seed=11111, sep="\n")
g.loop_runner.loop_variables_by_name["xx"].advance()
print_generated_sequence(g.custom_gen_instance, num=5, seed=11111, sep="\n")

Generated sequence:

Quux(aa='AAA', bb=111, cc=146, dd='9CD736')
Quux(aa='AAA', bb=111, cc=192, dd='3A7BFE')
Quux(aa='AAA', bb=111, cc=123, dd='89AA37')
Quux(aa='AAA', bb=111, cc=110, dd='8B408D')
Quux(aa='AAA', bb=111, cc=134, dd='BB048F')
Generated sequence:

Quux(aa='BBB', bb=111, cc=146, dd='9CD736')
Quux(aa='BBB', bb=111, cc=192, dd='3A7BFE')
Quux(aa='BBB', bb=111, cc=123, dd='89AA37')
Quux(aa='BBB', bb=111, cc=110, dd='8B408D')
Quux(aa='BBB', bb=111, cc=134, dd='BB048F')

In [9]:
#g._loop_runner.loop_variables["xx"].advance()

Both the parent class `QuuxGenerator` and its instance `g` contain loop runners containing loop variables `xx` and `yy`.

In [10]:
#QuuxGenerator.custom_gen_cls._tohu_cg_class_loop_variables

In [11]:
#g.custom_gen_instance._loop_runner.loop_variables

In [12]:
# assert g.loop_runner.loop_variables_by_name["xx"].is_clone_of(QuuxGenerator.loop_runner.loop_variables_by_name["xx"])
# assert g.loop_runner.loop_variables_by_name["yy"].is_clone_of(QuuxGenerator.loop_runner.loop_variables_by_name["yy"])

In [13]:
looped_item_list = g.generate(num_items_per_loop_cycle=2, seed=11111)
looped_item_list.to_df()

2020-08-15 11:53:21 WARNING  TODO: ensure that all loop variables have been assigned values (and perform any other sanity checks)!

     aa   bb   cc      dd
0   AAA  111  127  A1557E
1   AAA  111  106  DFD26B
2   AAA  222  160  A1C21A
3   AAA  222  188  79B19F
4   AAA  333  185  39D173
5   AAA  333  164  05D806
6   BBB  111  140  2D575C
7   BBB  111  157  B59FBD
8   BBB  222  118  E57966
9   BBB  222  138  73F697
10  BBB  333  184  F274A8
11  BBB  333  195  699894

In [14]:
print(looped_item_list.to_csv())

2020-08-15 11:53:25 WARNING  TODO: ensure that all loop variables have been assigned values (and perform any other sanity checks)!

aa,bb,cc,dd
AAA,111,127,A1557E
AAA,111,106,DFD26B
AAA,222,160,A1C21A
AAA,222,188,79B19F
AAA,333,185,39D173
AAA,333,164,05D806
BBB,111,140,2D575C
BBB,111,157,B59FBD
BBB,222,118,E57966
BBB,222,138,73F697
BBB,333,184,F274A8
BBB,333,195,699894